@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
  .printable-area {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}
